<!DOCTYPE html>
<html>
<head>
    <title>Editar Riesgo</title>
</head>
<body>

<h1>Editar Riesgo</h1>

<form method="POST">

    <input type="text" name="riesgo" value="{{ r.riesgo }}" required>

    <select name="probabilidad">
        <option {{ "selected" if r.probabilidad=="Alta" }}>Alta</option>
        <option {{ "selected" if r.probabilidad=="Media" }}>Media</option>
        <option {{ "selected" if r.probabilidad=="Baja" }}>Baja</option>
    </select>

    <select name="impacto">
        <option {{ "selected" if r.impacto=="Alto" }}>Alto</option>
        <option {{ "selected" if r.impacto=="Medio" }}>Medio</option>
        <option {{ "selected" if r.impacto=="Bajo" }}>Bajo</option>
    </select>

    <input type="text" name="mitigacion" value="{{ r.mitigacion }}" required>

    <button type="submit">Actualizar</button>
</form>

<a href="{{ url_for('riesgos_panel') }}">Regresar</a>

</body>
</html>
